.container {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
}
.hero_container {
    position: relative;   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px; 
    background-color: #050617;
}
.hc1 {
    padding: 60px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hc1 img:nth-of-type(1) {
    position: absolute;
    left: 20%;
    transform: translateX(-20%);
    width: 30%;
}
.hc1 img:nth-of-type(2) {
    position: absolute;
    right: 0px;
    top: 0px;
}
.hc1 > :not(img) {
    position: relative;
    z-index: 2;
}
.hc1 > div:nth-of-type(1) {
    background-color: #2E6D9C;
    font-size: 20.83px;
    border: 0.87px solid var(--whiteHex);
    border-radius: 84.93px;
    padding: 5.66px 14.15px;
    margin-bottom: 25px;
    animation-delay: 0.3s;
}
.hc1 h1 {
    font-weight: 700;
    font-size: 80.14px;
    line-height: 108%;
    text-align: center;
    max-width: 1000px;
    width: 80%;
    margin: 0px auto;
    animation-delay: 0.6s;
}
.hc1 h3 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 15px;
    animation-delay: 0.9s;
    text-align: center;
}
.hc1 div,
.hc1 h1,
.hc1 h3,
.hc1 .btn_container {
  opacity: 0;
  animation: fadeSlideUp 0.8s ease forwards;
}
.btn_container {
    display: flex;
    align-items: center;
    margin-top: 70px;
    column-gap: 20px;
    animation-delay: 0.8s;
}
.btn_container > div,
.learn_btn {
    font-size: 24px;
    padding: 18px 40px;
    border-radius: 37px;
    border: 2px solid var(--purpleBorderHex);
}
.btn_container > div:nth-of-type(1),
.learn_btn {
    background: linear-gradient(90deg, #000080 -10%, #4169E1 52.62%, #000080 114%);
    box-shadow: 0px 4px 17.9px 0px #4169E18C;
}
.btn_container > div:nth-of-type(1):hover,
.learn_btn:hover {
    background: transparent;
    box-shadow: 0px 4px 17.9px 0px #6132B28C;
}
.btn_container > div:nth-of-type(2) {
    background: transparent;
    box-shadow: 0px 4px 17.9px 0px #6132B28C;
}
.btn_container > div:nth-of-type(2):hover {
    background: linear-gradient(90deg, #000080 -10%, #4169E1 52.62%, #000080 114%);
    box-shadow: 0px 4px 17.9px 0px #4169E18C;
} 
.hc2 {
    position: relative;
}
.hc2 p {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fontMontserrat);
    top: 25%;
    transform: translateY(-25%);
}
.hc2 img:nth-of-type(2) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hc3_img {
    border-radius: 4.79px;
}
.container2 {
    background: linear-gradient(180deg, rgba(2, 4, 18, 0) 0%, #020412 30.98%);
    background-image: url('@/assets/images/gridlines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 90px;
    position: relative;
}
.container2 article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.container h2 {
    font-weight: 700;
    font-size: 50px;
    max-width: 946px;
    width: 90%;
    text-align: center;
}
.container2 article:nth-of-type(1) p:nth-of-type(1) {
    font-size: 24px;
    color: var(--grey1Hex);
    max-width: 660px;
    width: 80%;
    text-align: center;
}
.container2 article:nth-of-type(1) p:nth-of-type(2) {
    text-align: center;
    font-size: 32px;
    max-width: 1092px;
    width: 80%;
    color: var(--grey2Hex);
    margin-top: 15px;
}
.container2 > :not(img:nth-of-type(1)) {
    position: relative;
    z-index: 10;
}
.container2 > img:nth-of-type(1) {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}
.container2 article:nth-of-type(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}
.container2 article:nth-of-type(2) p {
    font-size: 24px;
    color: var(--grey2Hex);
    text-align: center;
    max-width: 1058px;
}
.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    row-gap: 20px;
}
.container3 p {
    max-width: 824px;
    width: 80%;
    color: var(--whiteHex);
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}
.container3 > article {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    margin-top: 20px;
    max-width: 1216px;
    width: 75%;
    row-gap: 30px;
}
.container3 > article img {
    width: 277px;
    height: 135px;
}
.container3 > article img:nth-child(n+4):nth-child(-n+6) {
    animation: floatAndPulse 3s ease-in-out infinite;
    transform: translateY(80px);
}
.container4 {
    background-color: var(--footerHex);
    padding: 60px 0px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.container4 > article > p {
    font-size: 24px;
}
.container4 article {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
.container4 article:nth-of-type(1) h3 {
    font-weight: 700;
    font-size: 44.95px;
    max-width: 448px;
    width: 80%;
    text-align: center;
}
.container4 article:nth-of-type(1) p {
    color: var(--grey1Hex);
    text-align: center;
    max-width: 728px;
    width: 90%;
}
.container4 article:nth-of-type(2) {
    width: 100%;
}
.container4 article:nth-of-type(2) > p {
    text-align: center;
    color: var(--grey2Hex);
    max-width: 1108px;
    width: 80%;
}
.container4 article:nth-of-type(2) > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 90%;
    margin: 50px auto 0px;
    column-gap: 20px;
}
.container4 article:nth-of-type(2) > div > div {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #01B4DE -15.33%, rgba(201, 201, 201, 0) 34.33%, rgba(214, 214, 214, 0) 72%, #01B4DE 102.33%);
    border-image-slice: 1;
    box-shadow: 0px 4px 43px 0px #5C2FAE1A;
    background-color: var(--footerHex);
    width: 605px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container4 article:nth-of-type(2) > div > div img:nth-of-type(1), 
.container4 article:nth-of-type(2) > div > div div {
    position: relative;
    z-index: 10;
}
.container4 article:nth-of-type(2) > div > div img:nth-of-type(1) {
    max-width: 100%;
    width: 60%;
    height: 100%;
}
.container4 article:nth-of-type(2) > div > div img:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 0;
}
.container4 article:nth-of-type(2) > div > div img:nth-of-type(3) {
    position: absolute;
    left: -40px;
}
.container4 article:nth-of-type(2) > div > div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    row-gap: 10px;
}
.container4 article:nth-of-type(2) > div > div div h2 {
    width: auto;
}
.container4 article:nth-of-type(2) > div > div div p {
    font-size: 20px;
}










@keyframes floatAndPulse {
    0% {
        transform: translateY(80px) scale(1);
    }
    50% {
        transform: translateY(72px) scale(1.03);
    }
    100% {
        transform: translateY(80px) scale(1);
    }
}
@keyframes pulseOnly {
    0% {
        transform: none; 
    }
    50% {
        transform: scale(1.03); 
    }
    100% {
        transform: none; 
    }
}
@keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        row-gap: 100px;
    }
    .hc2 {
       margin-bottom: -40px;
    }
    .hc2 img:nth-of-type(2){
       width: 65%;
    }
    .container2 article:nth-of-type(2) p {
        width: 80%;
    }
    .container2 article:nth-of-type(2) img {
        max-width: 1074px;
        width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        row-gap: 70px;
    }
    .hero_container {
        row-gap: 50px; 
    }
    .hc1 h1 {
        font-size: 64.14px;
    }
    .hc1 h3 {
        font-size: 24px;
    }
    .hc2 {
        margin-bottom: -40px;
    }
    .hc2 img:nth-of-type(2){
        width: 50%;
    }
    .container2 {
        row-gap: 70px;
    }
    .container h2 {
        font-size: 38px;
    }
    .container2 article:nth-of-type(1) p:nth-of-type(1) {
        font-size: 18px;
        width: 90%;
    }
    .container2 article:nth-of-type(1) p:nth-of-type(2) {
        font-size: 24px;
        width: 90%;
        margin-top: 10px;
    }
    .container2 > img:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%);
        height: 900px;
        width: 150%;
    }
    .container2 article:nth-of-type(2) p {
        font-size: 18px;
        width: 90%;
    }
    .container2 article:nth-of-type(2) img {
        max-width: 1074px;
        width: 95%;
    }
    .container3 {
        padding-top: 20px;
        margin-bottom: 40px;
    }
    .container3 p {
        font-size: 18px;
        width: 90%;
    }
    .container3 > article {
        width: 90%;
        row-gap: 20px;
    }
    .container3 > article img {
        width: 200px;
        height: auto;
    }
    .container3 > article img:nth-child(n+4):nth-child(-n+6) {
        transform: translateY(60px);
    }
    .container4 {
        row-gap: 40px;
        padding: 60px 0px 70px;
    }
    .container4 > article > p {
        font-size: 18px;
    }
    .container4 article {
        row-gap: 10px;
    }
    .container4 article:nth-of-type(1) h3 {
        font-size: 32px;
    }
    .container4 article:nth-of-type(2) > p {
        width: 90%;
    }
    .container4 article:nth-of-type(2) > div {
        margin: 40px auto 0px;
    }
    .container4 article:nth-of-type(2) > div > div img:nth-of-type(1) {
        width: 75%;
    }
    .container4 article:nth-of-type(2) > div > div img:nth-of-type(3) {
        left: -150px;
    }
    .container4 article:nth-of-type(2) > div > div div {
        padding: 20px;
    }
    .container4 article:nth-of-type(2) > div > div div p {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .container {
        row-gap: 30px;
    }
    .hero_container {
        row-gap: 50px; 
    }
    .hc1 {
        padding: 50px 0px 25px;
        max-width: 100%;
        width: 95%;
    }
    .hc1 img:nth-of-type(1) {
        position: absolute;
        left: 0;
        width: 70%;
    }
    .hc1 img:nth-of-type(2) {
        width: 100%;
    }
    .hc1 > div:nth-of-type(1) {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hc1 h1 {
        font-size: 32px;
    }
    .hc1 h3 {
        font-size: 18px;
    }
    .btn_container {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 40px;
        width: 100%;
    }
    .btn_container > div,
    .learn_btn {
        font-size: 16px;
        width: 100%;
        max-width: 300px;
        text-align: center;
    }
    .hc2 {
        max-width: 100%;
        width: 100%;
    }
    .hc2 img:nth-of-type(1) {
        width: 100%;
        object-fit: cover;
    }
    .hc2 img:nth-of-type(2) {
        width: 90%;
    }
    .hc2 p {
        top: 15%;
        left: 5px;
        transform: translateY(-15%);
        font-size: 16px;
    }
    .container2 {
        row-gap: 40px;
        padding: 40px 0px 0px;
    }
    .container h2 {
        font-size: 24px;
        max-width: 100%;
        width: 90%;
    }
    .container2 article:nth-of-type(1) p:nth-of-type(1) {
        font-size: 16px;
        width: 90%;
    }
    .container2 article:nth-of-type(1) p:nth-of-type(2) {
        font-size: 18px;
        width: 90%;
        margin-top: 0px;
    }
    .container2 > img:nth-of-type(1) {
        top: 100%;
        transform: translateY(-100%);
        width: 155%;
    }
    .container2 article:nth-of-type(2) {
        row-gap: 15px;
    }
    .container2 article:nth-of-type(2) p {
        font-size: 16px;
        width: 90%;
    }
    .container2 article:nth-of-type(2) img {
        max-width: 100%;
        width: 95%;
    }
    .container3 {
        padding-top: 40px;
        row-gap: 15px;
        margin-bottom: 0px;
    }
    .container3 p {
        font-size: 16px;
        width: 90%;
    }
    .container3 > article {
        width: 100%;
        row-gap: 20px;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }
    .container3 > article img {
        max-width: 100%;
        width: 90%;
        height: 99px;
        object-fit: contain;
        margin: auto;
    }
    .container3 > article img:nth-child(n+4):nth-child(-n+6) {
        animation: pulseOnly 2s ease-in-out infinite;
        transform: none;
    } 
    .container4 {
        row-gap: 30px;
        padding: 40px 0px 60px;
    }
    .container4 > article > p {
        font-size: 16px;
    }
    .container4 article {
        row-gap: 10px;
    }
    .container4 article:nth-of-type(1) h3 {
        font-size: 24px;
        max-width: 100%;
        width: 90%;
    }
    .container4 article:nth-of-type(2) > p {
        max-width: 100%;
        width: 90%;
    }
    .container4 article:nth-of-type(2) > div {
        margin: 20px auto 0px;
        flex-direction: column;
        row-gap: 20px;
    }
    .container4 article:nth-of-type(2) > div > div {
        max-width: 100%;
        width: 95%;
        height: auto;
       
    }
    .container4 article:nth-of-type(2) > div > div img:nth-of-type(1) {
        max-width: 100%;
        width: 90%;
    }
    .container4 article:nth-of-type(2) > div > div img:nth-of-type(2) {
        width: 100%;
    }

    .container4 article:nth-of-type(2) > div > div img:nth-of-type(3) {
        left: -200px;
        top: -50px;
    }
    .container4 article:nth-of-type(2) > div > div div {
        padding: 15px;
        row-gap: 7px;
    }
    .container4 article:nth-of-type(2) > div > div div p {
        font-size: 16px;
    }
}