@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --whiteHex: #FFFFFF;
  --grey1Hex: #BBBBBB;
  --grey2Hex: #D2D2D2;
  --grey3Hex: #CFCFCF;
  --bodyColorHex: #020412;
  --footerHex: #030517;
  --purpleBorderHex: #4169E1;
  --fontPoppins: "Poppins", sans-serif;
  --fontMontserrat: "Montserrat Alternates", sans-serif;
}
body, html {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--fontPoppins);
  font-weight: 400;
  color: var(--whiteHex);
  background-color: var(--bodyColorHex);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img, svg {
  cursor: pointer;
}
button {
  outline: none;
}


