.loadingContainer {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bodyColorHex);
    color: #fff;
    flex-direction: column;
    text-align: center;
}  

  